/Projeto Restaurante/nbproject/private/
/Principal/nbproject/private/
Projeto Restaurante/manifest.mf
Projeto Restaurante/src/projeto/restaurante/ProjetoRestaurante.java
Principal/nbproject/project.xml
Principal/nbproject/project.properties
Principal/nbproject/genfiles.properties
Principal/nbproject/build-impl.xml
Principal/manifest.mf
Principal/build.xml
/nbproject/private/
/build/
/Principal/build/